.wrapper {
  display: flex;
  flex-direction: column;

  .img {
    display: flex;
    width: 896px;
    margin: 0 0 10px 0;

  }

  .wrapperDialogs {
    background: url('https://www.fcbarcelona.com/resources/v2.15.1-3805/i/bg-elements/barca-today-tablet@x2.jpg');
  }
}



