.dialogName {
  display: flex;
  padding: 10px 10px 10px 20px;
  text-decoration: none;
  color: #fff;
  margin: 10px 0 10px 0;

  &:hover {
    background-color: rgba(74, 118, 168, 0.27);
    border-radius: 5px 5px 5px 5px;
  }

  .activeLink {
    background-color: rgba(74, 118, 168, 0.27);
    border-radius: 5px 5px 5px 5px;
  }
}


