.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('https://www.underconsideration.com/brandnew/archives/fc_barcelona_patterns_01.jpg');

    grid-area: header;
    grid-template-columns: 9fr 3fr;
}

.header img {
    width: 60px;
    margin-left: 10px;
}

.loginBlock {
    margin-right: 10px;
}

.loginBlock a {
    color: white;
}

.login {
    margin-right: 5px;
    font-family: Arial;
    font-weight: 400;
    height: 1.2rem;
    color: hsla(0, 0%, 100%, .6);
    font-size: 1rem;
    line-height: 1.2rem;
    text-transform: uppercase;
}