.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('https://www.underconsideration.com/brandnew/archives/fc_barcelona_patterns_01.jpg');

  grid-area: header;
  grid-template-columns: 9fr 3fr;

  & img {
    width: 60px;
    margin-left: 10px;
  }

  .loginBlock {
    margin-right: 10px;

    & a {
      color: white;
    }

    .login {
      margin-right: 5px;
      font-family: Arial;
      font-weight: 400;
      height: 1.2rem;
      color: hsla(0, 0%, 100%, .6);
      font-size: 1rem;
      line-height: 1.2rem;
      text-transform: uppercase;
    }

    .button {
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 0.875rem;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 500;
      line-height: 1.75;
      min-width: 64px;
      letter-spacing: 0.02857em;
      position: relative;
      background-color: #a01c30;
      border: none;
      color: #fff;
      padding: 6px 16px;
      width: 110px;
      transition-duration: 0.4s;
      overflow: hidden;
      box-shadow: 0 5px 15px #193047;
      border-radius: 4px;
      margin: 10px;

      &:hover {
        background: #fff;
        box-shadow: 0 2px 10px 5px #a01c30;
        color: #000;
      }

      &:after {
        content: "";
        background: #a01c30;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
      }

      &:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
      }

      &:focus {
        outline: 0;
      }
    }
  }
}


