
.wrapperInfo {
    display: flex;
    justify-content: flex-start;
}


.wrapperTextInfo{
    display: flex;
    flex-direction: column;
}

.imgAvatar img{
    margin: 0 20px 0 0 ;
}

wrapperStatus{
    display: flex;
    flex-direction: column;
}

.status {
    font-size: 24px;
    font-weight: bold;
}