.postList {
  display: flex;
  flex-direction: column;

  .wrapperDialogs {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

  }
  .form{
    display: flex;
    justify-content: center;
  }
}
