.postList {
  display: flex;
  flex-direction: column;


  .wrapperDialogs {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 97.5%;
    height: 30vh;
    overflow-y: auto;
    margin: 10px;
  }

  .form {
    display: flex;
    justify-content: center;
  }
}
