.wrapper {
  display: flex;
  flex-direction: column;

  .wrapperImage {
    display: flex;
    align-items: flex-end;

    & img {
      width: 896px;
    }
  }

  .wrapperWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 500px;
    margin: 10px 0 0 0;
    background: url('https://www.fcbarcelona.com/resources/v2.15.1-3805/i/bg-elements/barca-today-tablet@x2.jpg');

    .dialogsWrapper {
      width: 97.5%;
      height: 30vh;
      border: 1px solid black;
      overflow-y: auto;
      display: flex;
      margin: 10px
    }

    .messageForm {
      display: flex;
      justify-content: center;

    }
  }

}


